.whole {
    width: 100vw;
    height: 2724px;
    background: black;
}

.menu {
    width: 1440px;
    height: 100px;
    /* background: red; */
    left: 50%;
    top: 0px;
    transform: translate(-50%, 0%);
    position: relative;
    border-bottom: grey 10px;
}

.link {
    color: white;
    float: left;
    margin-left: 156px;
    margin-top: 52px;
    text-align: center;
    left: 50%;
    font-size: 20px;
    text-decoration: none;
}

.link2 {
    color: gray;
    float: left;
    margin-left: 156px;
    margin-top: 52px;
    text-align: center;
    left: 50%;
    font-size: 20px;
    text-decoration: none;
}

.home {
    color: red;
}

.bar {
    width: 1440px;
    height: 440px;
    background: url(../images/biglogo.webp);
    background-size: 100%;
    /* margin-left: 10px;
    margin-right: 10px; */
    left: 50%;
    top: 0px;
    transform: translate(-50%, 0%);
    position: relative;
}

.hero {
    width: 1440px;
    height: 812px;
    background: url(../images/hero.jpg);
    background-size: 100%;
    left: 50%;
    top: 0px;
    transform: translate(-50%, 0%);
    position: relative;
}

.contents {
    width: 1440px;
    height: 312px;
    /* border: solid white 1px; */
    left: 50%;
    transform: translate(-50%, 0%);
    position: relative;
    margin-top: 20px;
}

.section {
    font-size: 40px;
    color: red;
    text-align: center;
}

.box {
    width: 1440px;
    height: 252px;
    border: solid red 1px;
    margin-top: 12px;
}

.redText {
    color: red;
}

.aboutInsides {
    width: 360px;
    font-size: 26px;
    /* letter-spacing: 0.3px; */
    /* margin-top: 1px; */
    color: white;
    text-align: left;
    left: 50%;
    top: 0px;
    transform: translate(-50%, 0%);
    position: relative;
    float: left;
}

.insidesLeft {
    width: 160px;
    height: 212px;
    background: white;
    float: left;
    margin-left: 40px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.insides {
    width: 160px;
    height: 212px;
    background: white;
    margin: 20px;
    float: left;
}

.insidesLeftBig {
    width: 360px;
    height: 160px;
    background: red;
    margin: 20px;
    margin-left: 40px;
    float: left;
    margin-top: 46px;
}

.insidesBig {
    width: 360px;
    height: 160px;
    /* background: red; */
    margin: 20px;
    float: left;
    margin-top: 46px;
}

.seeMore {
    font-size: 32px;
    color: red;
    /* text-align: center; */
    text-decoration: none;
    top: 80px;
    position: relative;
}

.seeMore2 {
    font-size: 32px;
    color: gray;
    /* text-align: center; */
    text-decoration: none;
    top: 80px;
    position: relative;
}

.capitalismInsidesLeft {
    background: url("../images/Merch01.webp") center fixed no-repeat;
    background-size: 100%;
}

.capitalismInsides2 {
    background: url("../images/Merch02.webp") center fixed no-repeat;
    background-size: 100%;
}

.capitalismInsides3 {
    background: url("../images/Merch03.webp") center fixed no-repeat;
    background-size: 100%;
}

.capitalismInsides4 {
    background: url("../images/Merch04.webp") center fixed no-repeat;
    background-size: 100%;
}

.capitalismInsides5 {
    background: url("../images/Merch05.webp") center fixed no-repeat;
    background-size: 100%;
}

.capitalismInsides6 {
    background: url("../images/Merch06.webp") center fixed no-repeat;
    background-size: 100%;
}

.capitalismInsides7 {
    background: url("");
    background-size: 100%;
}


.lineupInsidesLeft {
    background: url("../images/lineup01.jfif") center fixed no-repeat;
    background-size: 100%;
}

.lineupInsides2 {
    background: url("../images/lineup02.webp") center fixed no-repeat;
    background-size: 100%;
}

.lineupInsides3 {
    background: url("../images/lineup03.webp") center fixed no-repeat;
    background-size: 100%;
}

.lineupInsides4 {
    background: url("../images/lineup04.jpeg") center fixed no-repeat;
    background-size: 100%;
}

.lineupInsides5 {
    background: url("../images/lineup05.jfif") center fixed no-repeat;
    background-size: 100%;
}

.lineupInsides6 {
    background: url("../images/lineup09.webp") center fixed no-repeat;
    background-size: 100%;
}

.lineupInsides7 {
    background: url("");
    background-size: 100%;
}


.toursInsidesLeft {
    background: url("../images/toursAustralia.webp") top center fixed no-repeat;
    background-size: 135%;
}

.toursInsides3 {
    background: url("../images/toursItaly.webp") top center fixed no-repeat;
    background-size: 105%;
}

.toursInsides5 {
    background: url("../images/toursJapan.png") center fixed no-repeat;
    background-size: 100%;
}

.toursInsides7 {
    background: url("");
    background-size: 100%;
}


.aboutInsidesLeft {
    background: url("../images/Image01.webp") center fixed no-repeat;
    background-size: 150%;
}

.aboutInsides2 {
    background: url("../images/Image02.webp") center fixed no-repeat;
    background-size: 150%;
}

.aboutInsides3 {
    background: url("../images/Image03.webp") center fixed no-repeat;
    background-size: 150%;
}

.aboutInsides4 {
    background: url("../images/Image04.webp") center fixed no-repeat;
    background-size: 150%;
}

.aboutInsides5 {

}

.aboutInsides7 {
    background: url("");
    background-size: 100%;
}

.insidesRight {
    float: left;
    right: 40px;
}